<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="FootballCoach" scope="singleton" id="footballCoach">
<!--        <property name="name" value="Ziya"/>-->
        <constructor-arg name="name" value="Nur"/>
        <constructor-arg name="address" ref="address"/>
    </bean>

    <bean class="BasketballCoach" id="basketballCoach">
<!--        <property name="name" value="Nur"/>-->
        <constructor-arg name="name" ref="string"/>
        <constructor-arg name="address" ref="address"/>
    </bean>

    <bean class="Address" id="address">
        <property name="address" value="Baki"/>
    </bean>

    <bean class="java.lang.String" id="string">
        <constructor-arg name="original" value="Ziya Mansurov"/>
    </bean>

</beans>